<a href="https://colab.research.google.com/github/keshettysiddartha/AIML_BOOTCAMP_2023/blob/main/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Arithmetuc Operators")
a=10
b=7

print(a+b)
print(a-b)
print(a*b)
print(a**b)
print(a/b)
print(a//b)
print(a%b)

Arithmetuc Operators
17
3
70
10000000
1.4285714285714286
1
3

In [ ]:
print("Assignment Operators")
a=10
b=5

c=a+b
print(c)
c-=a
print(c)
c+=a
print(c)
c*=a
print(c)
c/=a
print(c)
c%=a
print(c)

Assignment Operators
15
5
15
150
15.0
5.0

In [ ]:
print("Bitwise Operators")
a=14
b=10

print(a&b)
print(a|b)
print(-a)
print(a^b)
print(a>>2)
print(a<<2)

Bitwise Operators
10
14
-14
4
3
56

In [ ]:
print("Membership operator")
x="hello world"
print("w" in x)

Membership operator
True

In [ ]:
print("identity operators")
x1=5
y1=5
x2="hello"
y2="hello"
x3=[1,2,3]
y3=[1,2,3]
print(x1 is not y1)
print(x2 is y2)
print(x3 is y3)

identity operators
False
True
False

In [ ]:
a=int(input("enter a number"))
print(a)

b=input("enter string")
print(b)

enter a number8
8
enter stringhi
hi

In [ ]:
#strings

str="Gradstellar"
print(str[0])
print(str[-1])

#slicing
print(str[0:7:3])

#reverse a string
print(str[::-1])

#string methods
my_str="My name is Siddu"
print(my_str.upper())
print(my_str.lower())
print(my_str.swapcase())

G
r
Gde
ralletsdarG
MY NAME IS SIDDU
my name is siddu
mY NAME IS sIDDU

In [ ]:
#string formats
name="siddu"
Language="C++"
year=2022

print(name,"is teaching",Language,"programming in",year)

#format
print("{} is teaching {} programming in {}".format(name,Language,year))

#rawstring 
print(f"{name} is teaching {Language} programming in {year}")

siddu is teaching C++ programming in 2022
siddu is teaching C++ programming in 2022
siddu is teaching C++ programming in 2022

In [ ]:
#lists
my_list=[1,2,3,4]
my_list1=[1,"hello","3.0"]
my_list2=["apple","banana","cherry"]

#indexing
print(my_list[2])
print(my_list[-1])

#slicing
print(my_list[:3])

#nested list
N_list=["dragonfruit",my_list,my_list[1]]

print(N_list[0][0:6])

my_list.append(5)
print(my_list)

l1=[4,2,5,9,7,3,24,6,4,5,4,9]

print(l1.count(4))
print(len(l1))
print(l1(::-1))

l1.reverse()
print(l1)

SyntaxError: ignored